.christmas-container {
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 9999;
    pointer-events: none;
    overflow: hidden;
}

.branches-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/slot4.png');
    background-repeat: repeat-x;
    background-size: 120px auto;
    background-position: top left;
}

.branches-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/slot4.png');
    background-repeat: repeat-x;
    background-size: 120px auto;
    background-position: top left;
    transform: scaleX(-1);
}

.branches-background::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 40px;
    width: 100%;
    height: 100%;
    background-image: url('/static/slot4.png');
    background-repeat: repeat-x;
    background-size: 120px auto;
    background-position: top left;
    opacity: 0.9;
}

.ornaments-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.ornament {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: top center;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
    cursor: pointer;
    transition: filter 0.3s ease;
}

.ornament:hover {
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.4));
}

.ornament-1 {
    background-image: url('/static/slot1.png');
}

.ornament-2 {
    background-image: url('/static/slot2.png');
}

.ornament-3 {
    background-image: url('/static/slot3.png');
}

@keyframes swingWithDamping {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(12deg);
    }
    10% {
        transform: rotate(-12deg);
    }
    15% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(8deg);
    }
    30% {
        transform: rotate(-8deg);
    }
    35% {
        transform: rotate(6deg);
    }
    40% {
        transform: rotate(-6deg);
    }
    45% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    55% {
        transform: rotate(3deg);
    }
    60% {
        transform: rotate(-3deg);
    }
    65% {
        transform: rotate(2deg);
    }
    70% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(1deg);
    }
    80% {
        transform: rotate(-1deg);
    }
    85% {
        transform: rotate(0.5deg);
    }
    90% {
        transform: rotate(-0.5deg);
    }
    95% {
        transform: rotate(0.2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.ornament.swinging {
    animation: swingWithDamping 3s ease-out forwards;
}